<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.4" targetFramework="net46" />
  <package id="Microsoft.Web.WebView2" version="1.0.1722.45" targetFramework="net46" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.117.0" targetFramework="net46" />
  <package id="System.Data.SQLite" version="1.0.117.0" targetFramework="net46" />
  <package id="System.Data.SQLite.Core" version="1.0.117.0" targetFramework="net46" />
  <package id="System.Data.SQLite.EF6" version="1.0.117.0" targetFramework="net46" />
  <package id="System.Data.SQLite.Linq" version="1.0.117.0" targetFramework="net46" />
  <package id="WebView2.Runtime.X64" version="113.0.1774.35" targetFramework="net46" />
</packages>